---
---
{{ reference }}

<br>
    
→ {% if entry.file %}<a href="{{entry.file}}">pdf</a>,{% endif %}

{% capture absentry %}entry-abstract{{entry.key}}{% endcapture %}
{% capture bibentry %}entry-bibtex{{entry.key}}{% endcapture %}

{% if entry.abstract %}
  <a href="javascript:void(0)" onclick="$('#{{absentry}}').toggle(function(event){event.preventDefault();});">abstract</a>,
{% endif %}

<a href="javascript:void(0)" onclick="$('#{{bibentry}}').toggle(function(event){event.preventDefault();});">bibtex</a>

{% if entry.abstract %}
<p>
  <small id="{{absentry}}" style="display: none;">{{ entry.abstract }}</small>
</p>
{% else %}
<p></p>
{% endif %}

<small>
  <pre id="{{bibentry}}" style="display: none;">{{ entry.bibtex }}</pre>
</small>
